body{
	background-color:e;
}
header{
	background-color:a;
}
td,th,table{
	border:2px solid;
	border-collapse:collapse;
	background-color:o;
}
th{
	background-color:l;
}
nav{
	background-color:i;
}
main{
	b
}
