body{
	background-color: #f9e1fb;
}
header{
	background-color: rgb(0, 128, 128);
	color:white;
}
td,th,table{
	border:2px solid;
	border-collapse:collapse;
	background-color:white;
}
th{
	background-color:Lavender;
}
nav{
	background-color:AntiqueWhite;
}
main{
	background-color:White;
}
