body{
	background-color:LemonChiffon;
}
header{
	background-color:PowderBlue;
}
h1{
	text-align:left;
	text-transform:uppercase;
	font-family:'Georgia',sans-serif;
}
h2{
	font-family:'Helvetica',sans-serif;
}
p{
	font-family:'Tahoma','Georgia',sans-serif;
	text-align:left;
}
td,th,table{
	border:2px solid;
	 border-collapse:collapse;
	background-color:white;
}
th{
	background-color:Lavender;
}
nav{
	background-color:Honeydew;
}
main{
	background-color:AntiqueWhite;
}
